@import url('https://fonts.googleapis.com/css?family=Cabin|Old+Standard+TT');

$lime: #b0eb00;
$bright-red: #b30015;
$dark-blue: #2a00b3;
$deep-cerulean: #0077b3;
$bondi-blue: #00b0b3;
$cyan: #24fbff;
$heliotrope: #8a7dff;
$silver-chalice: #a6a6a6;
$scorpion: #595959;
$tundora: #444;
$mine-shaft: #363636;
$cod-gray: #111;
$cod-gray-faded: rgba(0,0,0,0.7);
$white-out: #fff;



// $header: 'Old Standard TT', serif;
$paragraph: 'Old+Standard+TT', serif;
$header: 'Cabin', sans;


$p-font-sizes: (
  null  : 15px,
  480px : 16px,
  640px : 2.5rem,
  1024px: 39px
);

$h1-font-sizes: (
  null  : 30px,
  480px : 35px,
  640px : 5rem,
  1024px: 79px
);

$h2-font-sizes: (
  null  : 24px,
  480px : 29px,
  640px : 3rem,
  1024px: 62px
);

$ul-font-sizes: (
null  : 12px,
480px : 14px,
640px : 16px,
1024px: 18px
);

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}
 #container {
  @include font-size($p-font-sizes);
  -webkit-font-smoothing: antialiased;
  font-family: $header;
  font-style: normal;
}

#quotate, input, button {
  @include font-size($p-font-sizes);
  -webkit-font-smoothing: antialiased;
  font-family: $paragraph;
  font-style: italic;
}

.link-image {
  margin-right: 5px;
}

.main-image {
  width: 3%;
}

.timer-box p {
font-size: 1.5rem;
 -webkit-font-smoothing: antialiased;
 font-family: $paragraph;
 font-style: italic;
}

 #personal-message, .hours, .mins, .secs {
  color: $silver-chalice;
  font-size: 1.5rem;
   -webkit-font-smoothing: antialiased;
   font-family: $header;
   margin-top: 0;
}

.days {
font-size: 2.5rem;
 -webkit-font-smoothing: antialiased;
 font-family: $header;
}



h1, #id span {
  @include font-size($h1-font-sizes);
  -webkit-font-smoothing: antialiased;
  font-family: $header;
}

@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}


@mixin links ($link, $visited, $hover, $active) {
    & {
        color: $link;
        text-decoration: none;
        &:visited {
            @include transition(.2s);
            color: $visited;
            text-decoration: none;
        }
        &:hover {
            @include transition(.2s);
            color: $hover;
            text-decoration: underline;
        }
        &:active, &:focus {
            @include transition(.2s);
            color: $active;
            text-decoration: none;
        }
    }
}

a { @include links($heliotrope, $silver-chalice, $white-out, $bondi-blue);
    font-family: $header;
    @include font-size($ul-font-sizes);
 }

//Styling not needed for demo
a {
    padding: 4px 10px;
    text-shadow: none;
}


$padding: 35px;
body {
  padding: $padding;
  background: url("https://source.unsplash.com/collection/561528/textures") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: $white-out;
  margin: 0;
  text-shadow: 2px 2px $cod-gray;
  text-align: center;
}

p, span {
  color: $white-out;
  text-shadow: 2px 2px $cod-gray;
  text-align: center;
}

container {
  display: flex;
  height: 100%;
  padding: 5% 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  background-color: $cod-gray-faded;
  // margin: 10% 0 0 0;
}

.timer-box {
  // background-color: $cod-gray-faded;
  width: 250px;
  height: 150px;
  display: table;
  padding: 10px;
  text-align: center;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.timer-label {
  margin: 10px;
}

.data-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row;
  width: 100%;
}

// list/links items
.sites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em 0;

  ul {
    width: 100%;
    padding-left: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    text-align: center;
  }
}
